<div *ngIf="hero">
  <paper-card heading="{{hero.name}} details!">
    <div class="card-content">
      <div><label>id: </label>{{hero.id}}</div>
      <paper-input label="(Polymer) Name" [(ngModel)]="hero.name" ngDefaultControl></paper-input>
      <label class="small">(Angular) Name:</label>
      <input [(ngModel)]="hero.name" placeholder="Name">
    </div>
    <div class="card-actions">
      <paper-fab mini icon="arrow-back" title="back" (click)="goBack()"></paper-fab>
    </div>
  </paper-card>
</div>
